<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <section class="flex top-info">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                <ul>
                    <li class="header-resource">
                        <div class="flex stat-level value">
                            <span class="value-separator">Level:</span>
                            <input type="text" class="level-display" 
                            name="data.attributes.level" 
                            value="{{data.attributes.level}}"
                            data-dtype="Number" 
                            maxlength="2"/>
                        </div>
                    </li>
                    <li class="header-resource">
                        <div class="flex currency value">
                            <span class="value-separator">{{localize "EQUILIBRIUM.Currency"}}:</span>
                            <input type="text" class="currency-display"
                            name="data.attributes.currency"
                            value="{{data.attributes.currency}}"
                            data-dtype="Number"/>
                            <i class="fas fa-coins"></i>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="header-stats">
                <ul>
                    <li class="header-resource stat-health">
                        <h2 class="attribute-name">Life</h2>
                        <div class="flex value">
                            <input type="text" 
                                class="health-min" 
                                name="data.health.value" 
                                value="{{data.health.value}}" 
                                data-dtype="Number" 
                                maxlength="4"/>
                            <span class="value-separator">/</span>
                            <input readonly
                                type="text" 
                                class="health-max" 
                                name="data.health.max" 
                                value="{{data.health.max}}" 
                                data-dtype="Number" 
                                maxlength="4"/>
                        </div>
                        <div class="flex value-footer">
                            <span>Per level:</span>
                            <input type="text" 
                                class="health-per-level" 
                                name="data.health.per_level" 
                                value="{{data.health.per_level}}"
                                data-dtype="Number"
                                maxlength="3"/>
                        </div>
                    </li>

                    
                    {{#each data.focus as |focus f|}}
                    <li class="header-resource focus focus-{{f}}">
                        <h2 class="attribute-name">{{f}}</h2>
                        <div class="flex value">
                            <input type="text" 
                                class="focus-min" 
                                name="data.focus.{{f}}.value" 
                                value="{{focus.value}}" 
                                data-dtype="Number" 
                                maxlength="2"/>
                            <span class="value-separator">/</span>
                            <input readonly
                                type="text" 
                                class="focus-max" 
                                name="data.focus.{{f}}.max" 
                                value="{{focus.max}}" 
                                data-dtype="Number" 
                                maxlength="2"/>
                        </div>
                        <div class="flex value-footer">
                            <a class="focus-minus" name="{{f}}"><i class="far fa-minus-square"></i></a>
                            <a class="focus-plus" name="{{f}}"><i class="far fa-plus-square"></i></a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </section>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="skills">{{localize "EQUILIBRIUM.Skills"}}</a>
        <a class="item" data-tab="items">{{localize "EQUILIBRIUM.Items"}}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        <div class="tab skills flexrow" data-group="primary" data-tab="skills">
            <div class="skill-column">
                <div class="skill-category">
                    <h3>War skills</h3>
                    <ul class="skills-list">
                    {{#each data.skillCategory.war as |skill s|}}
                        <li class="skill flexrow" data-skill="{{s}}">
                            <h4 class="skill-name rollable">{{skill.label}}</h4>
                            <span class="skill-focus">({{skill.focus}})</span>
                            <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" class="skill-value"/>
                        </li>
                    {{/each}}
                    </ul>
                </div>
                    <div class="skill-category">
                    <h3>Magic skills</h3>
                    <ul class="skills-list">
                    {{#each data.skillCategory.magic as |skill s|}}
                        <li class="skill flexrow" data-skill="{{s}}">
                            <h4 class="skill-name rollable">{{skill.label}}</h4>
                            <span class="skill-focus">({{skill.focus}})</span>
                            <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" class="skill-value"/>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>
            <div class="skill-column">
                <div class="skill-category">
                    <h3>Adventuring skills</h3>
                    <ul class="skills-list">
                    {{#each data.skillCategory.other as |skill s|}}
                        <li class="skill flexrow" data-skill="{{s}}">
                            <h4 class="skill-name rollable">{{skill.label}}</h4>
                            <span class="skill-focus">({{skill.focus}})</span>
                            <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number" class="skill-value"/>
                        </li>
                    {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            
            <ol class="inventory-list">
                {{#each inventory as |section sid|}}
                    <li class="inventory-header flexrow">
                        <h3 class="item-name flexrow">{{localize section.label}}</h3>
                        <div class="item-controls">
                            <a class="item-control item-create" title='{{localize "EQUILIBRIUM.ItemCreate"}}'
                               {{#each section.dataset as |v k|}}data-{{k}}="{{v}}"{{/each}}>
                                <i class="fas fa-plus"></i> {{localize "EQUILIBRIUM.ItemAdd"}}
                            </a>
                        </div>
                    </li>
                    <ol class="item-list">
                        {{#each section.items as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <div class="item-name flexrow rollable">
                                    <div class="item-img" style="background-image: url({{item.img}})"></div>
                                    <h4 class="item-name">
                                        {{item.name}}
                                        {{~#if item.isStack}} ({{item.data.quantity}}){{/if}}
                                    </h4>
                                </div>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title='{{localize "EQUILIBRIUM.ItemEdit"}}'><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title='{{localize "EQUILIBRIUM.ItemDelete"}}'><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                        {{/each}}
                    </ol>
                {{/each}}
            </ol>
        </div>
    </section>
</form>