<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
            <div class="resource">
                Life
                <input type="text" class="SmallBox" name="data.health.value" value="{{data.health.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
            </div>

        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="ressources">Ressources</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="attributes">Attributes</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Biography Tab --}}
        <div class="tab ressources" data-group="primary" data-tab="ressources">
            <div class="resource">
                Brutality

                <input type="text" name="data.focus.Brutality.value" value="{{data.focus.Brutality.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.focus.Brutality.max" value="{{data.focus.Brutality.max}}"
                    data-dtype="Number" />
            </div>
            <div class="resource">
                Swiftness

                <input type="text" name="data.focus.Swiftness.value" value="{{data.focus.Swiftness.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.focus.Swiftness.max" value="{{data.focus.Swiftness.max}}"
                    data-dtype="Number" />
            </div>
            <div class="resource">
                Vitality
                <input type="text" name="data.focus.Vitality.value" value="{{data.focus.Vitality.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.focus.Vitality.max" value="{{data.focus.Vitality.max}}"
                    data-dtype="Number" />
            </div>
            <div class="resource">
                Spirit

                <input type="text" name="data.focus.Spirit.value" value="{{data.focus.Spirit.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.focus.Spirit.max" value="{{data.focus.Spirit.max}}"
                    data-dtype="Number" />
            </div>
            <div class="resource">
                Malice

                <input type="text" name="data.focus.Malice.value" value="{{data.focus.Malice.value}}"
                    data-dtype="Number" />
                <span> / </span>
                <input readonly type="text" name="data.focus.Malice.max" value="{{data.focus.Malice.max}}"
                    data-dtype="Number" />
            </div>

        </div>
        <div class="tab skills" data-group="primary" data-tab="skills">
            <h3>War skills</h3>
            <ul class="skills-list">
            {{#each data.skillCategory.war as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
                    <h4 class="skill-name rollable">{{skill.label}} ({{skill.focus}})</h4>
                    <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </li>
            {{/each}}
            </ul>
            <h3>Magic skills</h3>
            <ul class="skills-list">
            {{#each data.skillCategory.magic as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
                    <h4 class="skill-name rollable">{{skill.label}} ({{skill.focus}})</h4>
                    <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </li>
            {{/each}}
            </ul>
            <h3>Adventuring skills</h3>
            <ul class="skills-list">
            {{#each data.skillCategory.other as |skill s|}}
                <li class="skill flexrow" data-skill="{{s}}">
                    <h4 class="skill-name rollable">{{skill.label}} ({{skill.focus}})</h4>
                    <input name="data.skills.{{s}}.value" value="{{skill.value}}" data-dtype="Number"/>
                </li>
            {{/each}}
            </ul>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <ul class="item-list">
                {{#each actor.items as |item id|}}
                <li class="item flexrow" data-item-id="{{item._id}}">
                    <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
                    <h4 class="item-name">{{item.name}}</h4>
                    <div class="item-controls">
                        <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                        <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            <header class="attributes-header flexrow">
                <span class="attribute-key">Attribute Key</span>
                <span class="attribute-value">Value</span>
                <span class="attribute-label">Label</span>
                <span class="attribute-dtype">Data Type</span>
                <a class="attribute-control" data-action="create"><i class="fas fa-plus"></i></a>
            </header>

            <ol class="attributes-list">
                {{#each data.attributes as |attr key|}}
                <li class="attribute flexrow" data-attribute="{{key}}">
                    <input class="attribute-key" type="text" name="data.attributes.{{key}}.key" value="{{key}}" />
                    {{#if attr.isCheckbox}}
                    <label class="attribute-value checkbox"><input type="checkbox" name="data.attributes.{{key}}.value"
                            {{checked attr.value}} /></label>
                    {{else}}
                    <input class="attribute-value" type="text" name="data.attributes.{{key}}.value"
                        value="{{attr.value}}" data-dtype="{{attr.dtype}}" />
                    {{/if}}
                    <input class="attribute-label" type="text" name="data.attributes.{{key}}.label"
                        value="{{attr.label}}" />
                    <select class="attribute-dtype" name="data.attributes.{{key}}.dtype">
                        {{#select attr.dtype}}
                        {{#each ../dtypes as |t|}}
                        <option value="{{t}}">{{t}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                    <a class="attribute-control" data-action="delete"><i class="fas fa-trash"></i></a>
                </li>
                {{/each}}
            </ol>
        </div>
    </section>
</form>