.Equilibrium {
  .window-content {
    height: 100%;
    padding: 5px;
    overflow-y: hidden;
  }
  
  .flex {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }

  .sheet-header {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 10px;

    .top-info {
      justify-content: space-between;
      padding-bottom: 2px;

      .stat-level{
        margin: 5px;
        input {
          width:30px
        }
      }

    }
    
    input {
      border:none;
      background: none;
    }

    .value {
      input {
        display: block;
        height: 22px;
        padding-top: 2px;
        font-weight: 700;
        width: 100%;
      }

      .value-separator {
        line-height: 20px;
      }
    }

    .value-footer {
      height: 18px;
      font-size: 12px;
      
      input {
        display: block;
        height: 18px;
        padding-top: 1px;
        max-width: 50%;
      }
    }

    .profile-img {
      flex: 0 0 100px;
      height: 100px;
      margin-right: 10px;
    }

    .header-fields {
      flex: 1;
    }

    .header-stats {

      display: flex;
      justify-content: flex-start;

      ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        padding: 0;
      }
      li {
        padding: 0 5px;
        border-left: 1px solid rgba(0,0,0,.075);
        text-align: center;

        &:first-child {
          border-left: none;
        }
      }

      .stat-health {
        .health-min {
          text-align: right;
        }
        
        .health-max {
          text-align: left;
        }
      }

      .focus {
        .focus-min {
          text-align: right;
        }
        
        .focus-max {
          text-align: left;
        }

        .focus-plus,
        .focus-minus {
          font-size: medium;
          margin:2px
        }
      }

      .level-display{
        font-size: 40px;
        height: 36px;
      }

      .attribute-name {
        font-size: 20px;
        line-height: 20px;
        height: 24px;
        position: relative;
        margin: 0;
        white-space: nowrap;
        border: none;

        &::after {
          display: block;
          content: '';
          height: 0;
          width: 60%;
          border-bottom: 1px solid rgba(0,0,0,.075);
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%,0);
      }
      }
    }

    h1.charname {
      height: 50px;
      padding: 2px;
      margin: 5px 0;
      border-bottom: 0;
      input {
        width: 100%;
        height: 100%;
        margin: 0;
      }
    }
  }

  .resource {
    width: 50%;
    height: 40px;
    margin-top: 10px;
    float: left;
    text-align: center;
    input {
      width: 20%;
      height: 28px;
    }
  }

  .skills-list {
    padding: 0;
  }

  .skill {
    padding: 3px;
    height: 28px;
    input {
      flex: 0 0 28px;
      text-align: center;
      min-width: 0;
    }

    .skill-focus {
      flex: 1px;
      margin: 0;
      text-align: right;
      color: #7a7971;
    }

    .skill-category {
      border: 2px groove #eeede0;
      padding: 2px;
    }
  }

  /* Sheet Tabs */
  .tabs {
    height: 40px;
    border-top: 1px solid #aaa;
    border-bottom: 1px solid #aaa;

    .item {
      line-height: 40px;
      font-weight: bold;
    }

    .item.active {
      text-decoration: underline;
      text-shadow: none;
    }
  }

  .sheet-body {
    overflow: hidden;
    .tab {
      height: 100%;
      overflow-y: auto;
    }
  }

  .editor,
  .editor-content {
    height: 100%;
  }

  /* Items List */
  .item-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: auto;

    .item {
      height: 30px;
      line-height: 24px;
      padding: 3px 0;
      border-bottom: 1px solid #bbb;

      img {
        flex: 0 0 24px;
        margin-right: 5px;
      }
    }

    .item-name {
      margin: 0;
    }

    .item-controls {
      flex: 0 0 36px;
    }
  }

  /* Attributes */
  .attributes-header {
    padding: 5px;
    margin: 5px 0;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #aaa;
    border-radius: 2px;
    text-align: center;
    font-weight: bold;

    .attribute-label {
      flex: 1.5;
    }

    .attribute-control {
      flex: 0 0 20px;
    }
  }

  .attributes-list {
    list-style: none;
    margin: 0;
    padding: 0;

    li > * {
      margin: 0 3px;
      height: 28px;
      line-height: 24px;
      background: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid #aaa;
    }

    a.attribute-control {
      flex: 0 0 20px;
      text-align: center;
      line-height: 28px;
      border: none;
    }
  }
}

.worldbuilding.sheet.actor {
  min-width: 560px;
  min-height: 420px;
}

.worldbuilding.sheet.item {
  min-width: 460px;
  min-height: 400px;
}
